.card {
  padding: 2rem 3rem;
  color: var(--surface-900);
  margin-bottom: 1rem;
  border-radius: $borderRadius;
  @apply dark:bg-primary-options-background-card;

  &.card-w-title {
    padding-bottom: 2rem;
  }

  .header-page {
    @apply text-primary-options-900 font-bold text-2xl mb-10;
  }
}
